<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Image File</key>
			<string>yt.png</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>Shell Script File</key>
			<string>yt.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Youdao Translator</string>
				<key>zh-Hans</key>
				<string>有道翻译</string>
			</dict>
		</dict>
		<dict>
			<key>Image File</key>
			<string>yd.png</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>Shell Script File</key>
			<string>yd.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Youdao Dictionary</string>
				<key>zh-Hans</key>
				<string>有道词典</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate selected text by Youdao</string>
	<key>Extension Identifier</key>
	<string>org.meow.popclip.extension.yt</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Youdao Translator</string>
		<key>zh-Hans</key>
		<string>Youdao翻译扩展</string>
	</dict>
	<key>Long Running</key>
	<true/>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Default Value</key>
			<false/>
			<key>Option Identifier</key>
			<string>toclipboard</string>
			<key>Option Label</key>
			<string>复制结果到剪贴板</string>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>Option Default Value</key>
			<true/>
			<key>Option Identifier</key>
			<string>trunc</string>
			<key>Option Label</key>
			<string>词典查询只取首单词</string>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>10</integer>
</dict>
</plist>
